## Gapminder
- 국가별 소득과 평균 수명
- EDA를 통한 데이터 파악
    - 오목한 그래프일 경우에 파악이 어려워서, x축을 log scale로 만들기
    
- Process
    - Data --(분석, 처리)--> 결론

- 결론의 공유
    - 본인의 직무 가치를 높일 수 있는 방법

- R의 강점
    - 시각화(ggplot)
    

- 설명형 분석 (Explanatory Analysis)
- MISC
    - feather: 파이썬과 통신
    
## [Rstudio Cheet Sheet](https://www.rstudio.com/resources/cheatsheets/)
<img src ="https://www.rstudio.com/wp-content/uploads/2015/01/rstudio-ide.png">
    
- - -
- python은 Scientific Computing이 약하다
- 해외에서는 통계나 수학을 전공하는 사람들이 Data Science를 많이 하는데, 국내에서는 개발하던 사람들이 많이 넘어왔다.

- - -
- 마주칠 때마다 검색하고 필요한 만큼 알아보고 사용하는 것이 프로그래밍이다.
- __무슨 project를 해봤냐?__

### paste 
- 문자열 합치기

In [1]:
greeting <- "Hello World"
greeting

[1] "Hello World"

In [7]:
greeting + "!"

ERROR: Error in greeting + "!": 이항연산자에 수치가 아닌 인수입니다

In [5]:
paste(greeting, "!")

[1] "Hello World !"

In [4]:
paste0(greeting, "!")

[1] "Hello World!"

In [8]:
paste(greeting, "!", sep = "")

[1] "Hello World!"

## Functional Programming
- 데이터 사이언스의 대부분 프로그램의 플로우
    - 변수로 시작해서 함수가 계속 작동하면서 최종적으로 결론에 해당하는 변수를 만들어 내는 것

In [11]:
greeting

[1] "Hello World"

In [16]:
# number of character
nchar(greeting)

# subset of string
substr(greeting, 6, 12)

## cat
cat(greeting)

[1] 11

[1] " World"

Hello World

In [24]:
greeting2 = 'hello "world"'
greeting2

[1] "hello \"world\""

In [30]:
a <- 'hello'

In [31]:
class(a)
typeof(a)

[1] "character"

[1] "character"

In [34]:
x <- c(10, 5, 10, 5)

x==10

x[x==10]

length(x[x==10])
length(x==10)
sum(x==10)  # 논리식 True(1), False(0) 합하기
which(x==10) # 위치

[1]  TRUE FALSE  TRUE FALSE

[1] 10 10

[1] 2

[1] 4

[1] 2

[1] 1 3

In [ ]:
# options(stringAsFactors = FALSE)
weather <- dataframe(, , ,stringAsFactors = FALSE)

dim()
ncol()
nrow()
class()
class(weather$sky)
weather$sky <- as.character(weather$sky)
weather$date <- as.Date(weather$date)
class(weather$sky)

In [ ]:
sapply(weather, class) # weather라는 dataframe에 대해서 class를 apply해라