In [3]:
import tensorflow as tf
print('Ok')

Ok

# Question 1

- 1~100까지 자연수 중에, 짝수만 모두 하나씩 출력하시오

In [17]:
[i for i in range(1, 101) if i % 2 == 0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

# Question 2

- 구구단을 9단까지 모두 print 하시오

print했을때 결과가 다음과 같은 형태로 나오면 성공!!!<br>

2<br>
4<br>
6<br>
...<br>
18<br>
3<br>
6<br>
9<br>
....<br>

In [18]:
for i in range (2, 10):
    for j in range(1, 10):
        print(i * j)
    print()

2
4
6
8
10
12
14
16
18

3
6
9
12
15
18
21
24
27

4
8
12
16
20
24
28
32
36

5
10
15
20
25
30
35
40
45

6
12
18
24
30
36
42
48
54

7
14
21
28
35
42
49
56
63

8
16
24
32
40
48
56
64
72

9
18
27
36
45
54
63
72
81