# TKX 피트니스를 더 개선시켜주세요.

안녕하세요! TKX 피트니스 데이터분석팀입니다.

저번 시간에 보여주신 훌륭한 데이터 분석력, 매우 감명받았습니다. 데이터를 깔끔히 정리하고 분석해주신 덕분에 저희의 업무량이 줄어든 것은 물론, 더 정량적인 분석이 가능해진 것 같습니다.

그런 의미에서 새로운 업무를 맡길까 합니다. 저번 시간에 다뤘던 회원정보 데이터와 더불어, 이번 시간에는 1) 회원들의 개인 PT 정보와 2) 회원들의 체중 기록을 추가로 제공하겠습니다. 이 데이터를 데이터분석 패키지 판다스(Pandas)를 활용해 다음의 내용을 분석해주세요.

[데이터는 다음의 URL [https://goo.gl/8XGH4T](https://goo.gl/8XGH4T) 에서 다운받을 수 있습니다. 데이터를 다운받아 읽어온 뒤, 하기에 적어놓은 내용대로 데이터를 분석 및 정리를 해주세요.]

In [70]:
import pandas as pd

## Load Dataset

In [125]:
data2016_2017 = pd.read_csv("../data/tkx-user-data.csv")

print(data2016_2017.shape)
data2016_2017.head()

(106839, 13)

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청
0,안원준,남성,010-2292-6251,31세,78,68,176,2016년 07월 05일,2016년 07월 05일,아니오,주 1회,0개월,아니요
1,유세아,여성,01045795881,39,56kg,51kg,172,2016년 10월 02일,2016년 11월 29일,예,월 1회,0개월,아니요
2,송솔은,여성,010-7719-8346,0,29,21,167,2017년 09월 06일,2017년 09월 06일,예,주 1회,0개월,아니요
3,백서원,여성,01011947169,36,67,65,0,2017년 06월 02일,2017년 07월 28일,예,안 마심,0개월,아니요
4,박서은,여성,010-2575-6398,42,60,57,167,2017년 05월 07일,2017년 05월 07일,아니오,안 마심,0개월,예

## 실습

** 1. 2018년도 회원 데이터와, PT 데이터를 읽어오세요. **

In [126]:
# Write your code here!

data2018 = pd.read_csv("../data/transaction/tkx-user-data-2018.csv")

print(data2018.shape)
data2018.head()

(21368, 13)

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청
0,문장우,남성,010-6677-7652,32,80,70,173,2018년 02월 09일,2018년 02월 09일,아니오,월 1회,6개월,아니요
1,황채아,여,010-7758-8785,NaN,55 kg,46 kg,170,2018년 02월 21일,2018년 02월 21일,아니오,월 2회,3개월,아니요
2,박서현,여성,01019295153,28,0,0,171,2018년 01월 03일,2018년 01월 03일,아니오,주 1회,0개월,예
3,최소윤,여,010-7785-1911,36,0,0,172,2018년 01월 31일,2018년 01월 31일,아니오,월 2회,0개월,예
4,백성준,남,010-5513-5523,37,23kg,16kg,174,2018년 02월 02일,2018년 02월 02일,아니오,주 1회,3개월,아니요

** 2. 이전 회원 데이터(2016 ~ 2017년)와 2018년도 회원 데이터를 하나로 합쳐주세요. **

In [127]:
# Write your code here!
pt_history = pd.read_csv("../data/transaction/pt-history.csv")

print(pt_history.shape)
pt_history.head()

(428903, 6)

   Unnamed: 0   담당 선생님            수강일   이름           전화번호    회차
0           0  황설희 선생님  2016년 01월 04일  이윤태    01058851494  1 회차
1           0  강현우 선생님  2016년 01월 04일  문동환  010-3495-5299  1 회차
2           0  홍동운 선생님  2016년 01월 04일  송은준    01029598386  1 회차
3           0  손성은 선생님  2016년 01월 04일  손민진  010-2757-6111  1 회차
4           0  문채안 선생님  2016년 01월 05일  신채연    01076274183  1 회차

In [128]:
# Write your code here!

data = pd.concat([data2016_2017, data2018]) # default : axis = 0
print(data.shape)
data.head()

(128207, 13)

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청
0,안원준,남성,010-2292-6251,31세,78,68,176,2016년 07월 05일,2016년 07월 05일,아니오,주 1회,0개월,아니요
1,유세아,여성,01045795881,39,56kg,51kg,172,2016년 10월 02일,2016년 11월 29일,예,월 1회,0개월,아니요
2,송솔은,여성,010-7719-8346,0,29,21,167,2017년 09월 06일,2017년 09월 06일,예,주 1회,0개월,아니요
3,백서원,여성,01011947169,36,67,65,0,2017년 06월 02일,2017년 07월 28일,예,안 마심,0개월,아니요
4,박서은,여성,010-2575-6398,42,60,57,167,2017년 05월 07일,2017년 05월 07일,아니오,안 마심,0개월,예

** 3. PT 데이터와 회원 데이터를 하나로 합쳐주세요. **

In [129]:
# Write your code here!
# pt_history_all = pd.merge(data, pt_history, how="right")
pt_history_all = pd.merge(data, pt_history, how="left")

print(pt_history_all.shape)
pt_history_all.head()

(537125, 17)

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청,Unnamed: 0,담당 선생님,수강일,회차
0,안원준,남성,010-2292-6251,31세,78,68,176,2016년 07월 05일,2016년 07월 05일,아니오,주 1회,0개월,아니요,NaN,NaN,NaN,NaN
1,유세아,여성,01045795881,39,56kg,51kg,172,2016년 10월 02일,2016년 11월 29일,예,월 1회,0개월,아니요,NaN,NaN,NaN,NaN
2,송솔은,여성,010-7719-8346,0,29,21,167,2017년 09월 06일,2017년 09월 06일,예,주 1회,0개월,아니요,NaN,NaN,NaN,NaN
3,백서원,여성,01011947169,36,67,65,0,2017년 06월 02일,2017년 07월 28일,예,안 마심,0개월,아니요,NaN,NaN,NaN,NaN
4,박서은,여성,010-2575-6398,42,60,57,167,2017년 05월 07일,2017년 05월 07일,아니오,안 마심,0개월,예,NaN,NaN,NaN,NaN

** 4. 3번 데이터에서 전체가 아닌 필요한 컬럼만 골라서 보고습니다. 다음의 컬럼만 골라서 출력해주세요. **

  * 이름
  * 성별
  * 전화번호
  * 현재 체중
  * 목표 체중
  * 담당 선생님
  
  - - -
  - index도 다리고, data도 달라서 merge

In [130]:
pt_history_select = pt_history_all[['이름', '성별', '전화번호', '현재 체중', '목표 체중', '담당 선생님']]

print(pt_history_select.shape)
pt_history_select.head()

(537125, 6)

    이름  성별           전화번호 현재 체중 목표 체중 담당 선생님
0  안원준  남성  010-2292-6251    78    68    NaN
1  유세아  여성    01045795881  56kg  51kg    NaN
2  송솔은  여성  010-7719-8346    29    21    NaN
3  백서원  여성    01011947169    67    65    NaN
4  박서은  여성  010-2575-6398    60    57    NaN

** 5. PT 담당 선생님만 추려서, 가장 PT를 많이 한 선생님 순으로 정렬해서 보여주세요. **

In [131]:
# Write your code here!
pt_history_select["담당 선생님"].value_counts()

서슬희 선생님     902
손성은 선생님     850
장슬윤 선생님     825
권소현 선생님     712
최설희 선생님     711
손준영 선생님     705
안지율 선생님     700
장세희 선생님     668
고준아 선생님     668
황수연 선생님     664
한지영 선생님     658
윤서안 선생님     654
백소원 선생님     652
고대윤 선생님     643
최지율 선생님     637
장윤상 선생님     636
박연재 선생님     636
문슬아 선생님     629
강슬민 선생님     626
조성빈 선생님     625
류설안 선생님     619
홍설윤 선생님     617
서승윤 선생님     615
유우진 선생님     614
조은후 선생님     614
안서율 선생님     613
장은후 선생님     608
류설희 선생님     605
윤성희 선생님     600
강세율 선생님     591
           ...
오세희 선생님      79
양서후 선생님      78
서서현 선생님      78
김지빈 선생님      76
허슬미 선생님      76
조수현 선생님      75
문서영 선생님      75
최수민 선생님      75
양진혁 선생님      74
신준원 선생님      74
유성희 선생님      73
박소정 선생님      73
백대권 선생님      71
서세영 선생님      71
안지빈 선생님      70
문세현 선생님      69
오채슬 선생님      69
최슬영 선생님      68
최서후 선생님      65
송수윤 선생님      64
배선우 선생님      64
윤수희 선생님      63
서세아 선생님      63
오 시민 선생님     59
허수빈 선생님      56
정초민 선생님      54
안서환 선생님      50
백재혁 선생님      41
임승완 선생님      14
정수이 선생님      10
Name: 담당 선생님, Length: 1799, dtype: int64

## 과제(초급)

** 6. 회원분들의 체중 기록을 9개의 CSV에서 각각 읽어와주세요.**

In [132]:
# Write your code here!
weight_1 = pd.read_csv('../data/transaction/weight-history-1.csv')
weight_2 = pd.read_csv('../data/transaction/weight-history-2.csv')
weight_3 = pd.read_csv('../data/transaction/weight-history-3.csv')
weight_4 = pd.read_csv('../data/transaction/weight-history-4.csv')
weight_5 = pd.read_csv('../data/transaction/weight-history-5.csv')
weight_6 = pd.read_csv('../data/transaction/weight-history-6.csv')
weight_7 = pd.read_csv('../data/transaction/weight-history-7csv')
weight_8 = pd.read_csv('../data/transaction/weight-history-8.csv')
weight_9 = pd.read_csv('../data/transaction/weight-history-9.csv')

In [158]:
pd.concat([pd.read_csv('../data/transaction/weight-history-{0}.csv'.format(n)) for n in number])

       Unnamed: 0   이름           전화번호            측정일  측정 체중
0               0  양선희    01018822981  2016년 01월 03일   60.1
1               0  박채민  010-4493-1441  2016년 01월 03일   61.0
2               0  장영준  010-5728-5661  2016년 01월 03일   80.6
3               0  양재민  010-7365-6481  2016년 01월 03일   72.0
4               0  유성율  010-1146-4241  2016년 01월 04일   76.7
5               0  유선이    01074542421  2016년 01월 04일   55.9
6               0  강원영  010-1738-2221  2016년 01월 04일   81.6
7               0  김설연  010-7458-6651  2016년 01월 04일   54.5
8               0  신채안    01043954991  2016년 01월 04일   58.8
9               0  유채하  010-4828-8741  2016년 01월 05일   43.3
10              0  유시훈  010-5566-8911  2016년 01월 05일   78.5
11              0  백솔미  010-8614-5491  2016년 01월 05일   60.1
12              0  서세진  010-6543-4231  2016년 01월 05일   58.8
13              0  조지효    01089563341  2016년 01월 05일   60.6
14              0  한슬아    01038154631  2016년 01월 05일   43.4
15              0  김세준    01065849851  2016년 01월 05일   75.9
16              0  강슬영  010-7292-8161  2016년 01월 05일   54.8
17              0  홍채민    01018197781  2016년 01월 05일   78.9
18              0  정솔은    01034412311  2016년 01월 05일   61.8
19              0  이지애    01034376961  2016년 01월 06일   59.5
20              0  홍동해  010-7495-4481  2016년 01월 06일   80.4
21              0  조효찬  010-4254-2741  2016년 01월 06일   76.2
22              0  조세아  010-3392-7331  2016년 01월 06일   53.1
23              1  장영준  010-5728-5661  2016년 01월 06일   71.5
24              1  양선희    01018822981  2016년 01월 06일   60.0
25              1  박채민  010-4493-1441  2016년 01월 06일   59.7
26              0  강설민    01078781371  2016년 01월 06일   59.9
27              0  조지아  010-7443-4181  2016년 01월 06일   60.4
28              0  윤슬아  010-7598-1261  2016년 01월 06일   16.9
29              0  배선정  010-2766-6991  2016년 01월 06일   56.0
...           ...  ...            ...            ...    ...
58130          14  서동환    01085683839  2018년 02월 09일   79.2
58131          16  안태윤  010-7715-2669  2018년 02월 10일   74.8
58132          14  송보성  010-5165-8639  2018년 02월 10일   72.4
58133          18  유승윤  010-8236-7829  2018년 02월 10일   55.9
58134          15  장서진    01038585299  2018년 02월 10일   75.1
58135          17  윤지혜  010-2173-2259  2018년 02월 11일   50.7
58136          16  오성희  010-2213-7769  2018년 02월 11일   55.5
58137          14  허서훈  010-6737-3649  2018년 02월 11일   72.5
58138          15  서동환    01085683839  2018년 02월 12일   79.7
58139          14  문유현    01042793229  2018년 02월 12일   76.2
58140          18  서성아    01026956329  2018년 02월 12일   53.6
58141          14  한태원  010-5827-7789  2018년 02월 12일   30.0
58142          17  오성희  010-2213-7769  2018년 02월 13일   55.6
58143          16  장서진    01038585299  2018년 02월 13일   75.4
58144          15  허서훈  010-6737-3649  2018년 02월 14일   71.4
58145          15  송보성  010-5165-8639  2018년 02월 14일   72.1
58146          18  윤지혜  010-2173-2259  2018년 02월 14일   50.6
58147          16  서동환    01085683839  2018년 02월 15일   81.0
58148          15  한태원  010-5827-7789  2018년 02월 15일   31.0
58149          18  오성희  010-2213-7769  2018년 02월 16일   53.2
58150          16  허서훈  010-6737-3649  2018년 02월 17일   72.8
58151          17  장서진    01038585299  2018년 02월 17일   74.0
58152          16  송보성  010-5165-8639  2018년 02월 17일   72.6
58153          17  서동환    01085683839  2018년 02월 18일   78.5
58154          18  장서진    01038585299  2018년 02월 19일   74.2
58155          16  한태원  010-5827-7789  2018년 02월 19일   30.3
58156          17  허서훈  010-6737-3649  2018년 02월 20일   71.2
58157          17  송보성  010-5165-8639  2018년 02월 20일   71.3
58158          18  서동환    01085683839  2018년 02월 21일   78.8
58159          18  송보성  010-5165-8639  2018년 02월 25일   71.5

[525379 rows x 5 columns]

In [155]:
number = [i for i in range(1, 10)]

def read_weight_csv(number):
    for n in number:
        weight_n = pd.read_csv('../data/transaction/weight-history-{0}.csv'.format(n))
        print(n)
        
read_weight_csv(number)

1
2
3
4
5
6
7
8
9

** 7. 회원 분들의 체중 기록을 DB에서 10개의 테이블에서 SQL로 각각 읽어와주세요. **

In [134]:
# Write your code here!

** 8. 여러 데이터로 나뉘어져 있는 체중 기록을 하나로 합쳐주세요. **

In [135]:
# Write your code here!

In [136]:
concat_weight = pd.concat([weight_1, weight_2, weight_3, weight_4, weight_5, weight_6, weight_7, weight_8, weight_9])

In [137]:
print(concat_weight.shape)
concat_weight.head()

(525379, 5)

   Unnamed: 0   이름           전화번호            측정일  측정 체중
0           0  양선희    01018822981  2016년 01월 03일   60.1
1           0  박채민  010-4493-1441  2016년 01월 03일   61.0
2           0  장영준  010-5728-5661  2016년 01월 03일   80.6
3           0  양재민  010-7365-6481  2016년 01월 03일   72.0
4           0  유성율  010-1146-4241  2016년 01월 04일   76.7

** 9. 체중 기록과 회원 데이터를 하나로 합쳐주세요. **

In [138]:
# Write your code here!

In [140]:
weight_member = pd.merge(pt_history_all, concat_weight)

print(weight_member.shape)
weight_member.head()

(110603, 19)

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청,Unnamed: 0,담당 선생님,수강일,회차,측정일,측정 체중
0,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,월 1회,3개월,아니요,0,황수정 선생님,2017년 12월 11일,1 회차,2017년 12월 04일,76.6
1,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,월 1회,3개월,아니요,1,황수정 선생님,2017년 12월 18일,2 회차,2017년 12월 07일,74.3
2,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,월 1회,3개월,아니요,3,황수정 선생님,2017년 12월 24일,4 회차,2017년 12월 12일,75.6
3,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,월 1회,3개월,아니요,2,황수정 선생님,2017년 12월 26일,3 회차,2017년 12월 11일,74.7
4,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,월 1회,3개월,아니요,4,황수정 선생님,2017년 12월 31일,5 회차,2017년 12월 14일,75.4

** 10. 9번 데이터에서 현재 체중과 측정 체중이 가장 차이가 크게 나는 순으로 정렬해주세요. **

In [12]:
# Write your code here!

In [141]:
print(weight_member["현재 체중"].dtypes)
print(weight_member["측정 체중"].dtypes)

object
float64

In [142]:
weight_member["현재 체중"].value_counts()

80        6713
79        6586
81        6199
78        5938
77        5019
60        4913
82        4739
59        4671
58        4129
61        4096
83        3452
57        3426
62        3339
76        3335
56        2478
63        2320
75        2317
84        2173
55        1644
85        1232
74        1198
64        1172
79kg       942
54         917
79 kg      860
65         790
80kg       764
81kg       764
78kg       762
80 kg      751
          ...
144 kg       3
124kg        3
28kg         2
137kg        2
32kg         2
33 kg        2
37 kg        2
32 kg        2
143kg        2
131 kg       2
34kg         2
138kg        2
31kg         2
127 kg       2
90 kg        2
142kg        2
35kg         1
126 kg       1
26kg         1
36 kg        1
38kg         1
126kg        1
27kg         1
128 kg       1
133kg        1
135kg        1
136 kg       1
149kg        1
132 kg       1
38 kg        1
Name: 현재 체중, Length: 243, dtype: int64

In [143]:
def convert_weight_to_integer(weight):
    if pd.isnull(weight):
        return weight
    
    if "kg" in weight:
        weight = weight.replace("kg", "")
        
        return int(weight)
    
    return int(weight)


weight_member["Current Weight(int)"] = weight_member["현재 체중"].apply(convert_weight_to_integer)

print(weight_member.shape)
weight_member.head()

(110603, 20)

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청,Unnamed: 0,담당 선생님,수강일,회차,측정일,측정 체중,Current Weight(int)
0,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,월 1회,3개월,아니요,0,황수정 선생님,2017년 12월 11일,1 회차,2017년 12월 04일,76.6,76
1,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,월 1회,3개월,아니요,1,황수정 선생님,2017년 12월 18일,2 회차,2017년 12월 07일,74.3,76
2,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,월 1회,3개월,아니요,3,황수정 선생님,2017년 12월 24일,4 회차,2017년 12월 12일,75.6,76
3,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,월 1회,3개월,아니요,2,황수정 선생님,2017년 12월 26일,3 회차,2017년 12월 11일,74.7,76
4,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,월 1회,3개월,아니요,4,황수정 선생님,2017년 12월 31일,5 회차,2017년 12월 14일,75.4,76

In [144]:
weight_member["loss"] = weight_member["Current Weight(int)"] - weight_member["측정 체중"]

print("[loss] min = {0}, max = {1}, mean = {2:.2f}".format(weight_member["loss"].min(), weight_member["loss"].max(), weight_member["loss"].mean()))

print(weight_member.shape)
weight_member[["Current Weight(int)", "측정 체중", "loss"]].head()

[loss] min = -1.0, max = 10.0, mean = 2.68
(110603, 21)

   Current Weight(int)  측정 체중  loss
0                   76   76.6  -0.6
1                   76   74.3   1.7
2                   76   75.6   0.4
3                   76   74.7   1.3
4                   76   75.4   0.6

In [145]:
weight_member['loss'].value_counts()

 1.0    1974
 0.7    1941
 0.5    1940
 0.3    1938
 0.8    1934
 1.7    1930
 1.5    1927
 2.0    1910
 1.2    1908
 1.3    1891
 2.5    1870
 1.8    1837
 2.7    1834
 0.2    1820
 2.3    1774
 2.8    1760
 2.2    1734
 3.0    1538
 0.0    1480
 3.2    1456
 3.5    1427
 3.7    1410
 3.3    1402
 3.8    1339
 4.0    1251
 0.1    1207
 0.4    1187
-0.7    1165
 0.6    1161
 1.1    1155
        ...
 7.4       3
 7.2       3
 0.7       3
 5.3       3
 4.2       3
 5.8       2
 5.9       2
 8.7       2
 5.1       2
 6.2       2
 4.9       1
 9.2       1
 6.9       1
 6.8       1
 8.4       1
 6.4       1
-0.2       1
 7.2       1
 9.1       1
 8.3       1
 8.3       1
 8.8       1
 9.8       1
 6.3       1
 5.7       1
 9.8       1
 7.3       1
 8.2       1
 5.4       1
 7.8       1
Name: loss, Length: 243, dtype: int64

## 과제(중급)

** 11. 회원 - 체중 기록 데이터를 활용해 목표 체중을 달성한 사람만을 추려주세요. ** 

여기서 체중이 다시 올랐을 경우는 고려하지 않습니다. 즉, 그 사람의 체중이 가장 낮았을 때만 고려하면 됩니다.

In [146]:
# Write your code here!

In [147]:
weight_member["Goal Weight(int)"] = weight_member["목표 체중"].apply(convert_weight_to_integer)

print(weight_member.shape)
weight_member.head()

(110603, 22)

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,...,개인상담 요청,Unnamed: 0,담당 선생님,수강일,회차,측정일,측정 체중,Current Weight(int),loss,Goal Weight(int)
0,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,...,아니요,0,황수정 선생님,2017년 12월 11일,1 회차,2017년 12월 04일,76.6,76,-0.6,73
1,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,...,아니요,1,황수정 선생님,2017년 12월 18일,2 회차,2017년 12월 07일,74.3,76,1.7,73
2,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,...,아니요,3,황수정 선생님,2017년 12월 24일,4 회차,2017년 12월 12일,75.6,76,0.4,73
3,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,...,아니요,2,황수정 선생님,2017년 12월 26일,3 회차,2017년 12월 11일,74.7,76,1.3,73
4,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,...,아니요,4,황수정 선생님,2017년 12월 31일,5 회차,2017년 12월 14일,75.4,76,0.6,73

In [148]:
success_member = weight_member[weight_member["Goal Weight(int)"] > weight_member["측정 체중"]]
print(success_member.shape)
success_member.head()

(24356, 22)

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,...,개인상담 요청,Unnamed: 0,담당 선생님,수강일,회차,측정일,측정 체중,Current Weight(int),loss,Goal Weight(int)
10,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,...,아니요,10,황수정 선생님,2018년 02월 16일,11 회차,2017년 12월 28일,72.8,76,3.2,73
26,최수훈,Male,010-8356-8853,34,77 kg,76 kg,176,2016년 10월 16일,2017년 01월 05일,아니오,...,아니요,0,허채윤 선생님,2016년 10월 23일,1 회차,2016년 10월 20일,68.4,77,8.6,76
46,황승일,남성,01039863484,33세,76,74,181,2016년 04월 28일,2016년 04월 28일,아니오,...,아니요,1,강지효 선생님,2016년 05월 06일,2 회차,2016년 05월 03일,72.7,76,3.3,74
47,황승일,남성,01039863484,33세,76,74,181,2016년 04월 28일,2016년 04월 28일,아니오,...,아니요,2,강지효 선생님,2016년 05월 18일,3 회차,2016년 05월 06일,69.2,76,6.8,74
52,오동연,남,010-3177-9262,37,73,67,165,2016년 07월 22일,2016년 07월 22일,아니오,...,아니요,0,허준완 선생님,2016년 07월 26일,1 회차,2016년 07월 25일,66.8,73,6.2,67

In [149]:
weight_member[weight_member["Goal Weight(int)"] > weight_member["Current Weight(int)"]]

Empty DataFrame
Columns: [이름, 성별, 전화번호, 나이, 현재 체중, 목표 체중, 키, 회원 가입일, 회원 정보 갱신일, 흡연 여부, 음주 여부, 가입 개월 수, 개인상담 요청, Unnamed: 0, 담당 선생님, 수강일, 회차, 측정일, 측정 체중, Current Weight(int), loss, Goal Weight(int)]
Index: []

[0 rows x 22 columns]

** 12. 11번의 데이터를 활용해, 남성/여성별 목표 체중을 달성한 사람의 전체 인원수를 찾아주세요. **

In [150]:
# Write your code here!

In [151]:
# ['남성', '여성', 'Male', '여', '남', 'Female', 'FEMALE', 'MALE']
    
success_member.loc[success_member["성별"] == "남성", "Gender(clean)"] = "male"
success_member.loc[success_member["성별"] == "남", "Gender(clean)"] = "male"
success_member.loc[success_member["성별"] == "male", "Gender(clean)"] = "male"
success_member.loc[success_member["성별"] == "Male", "Gender(clean)"] = "male"
success_member.loc[success_member["성별"] == "MALE", "Gender(clean)"] = "male"

success_member.loc[success_member["성별"] == "여성", "Gender(clean)"] = "female"
success_member.loc[success_member["성별"] == "여", "Gender(clean)"] = "female"
success_member.loc[success_member["성별"] == "female", "Gender(clean)"] = "female"
success_member.loc[success_member["성별"] == "Female", "Gender(clean)"] = "female"
success_member.loc[success_member["성별"] == "FEMALE", "Gender(clean)"] = "female"

print(success_member["Gender(clean)"].unique())

print(success_member.shape)
success_member[["성별", "Gender(clean)"]].head()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

['male' 'female']
(24356, 23)

      성별 Gender(clean)
10    남성          male
26  Male          male
46    남성          male
47    남성          male
52     남          male

In [104]:
# success_member[success_member["성별"].isin(["남성", "남", "MALE", "Male", "male"]), "Gender(clean)"] = "male"
# success_member[success_member["성별"].isin(["여성", "여", "FEMALE", "Female", "female"]), "Gender(clean)"] = "female"

# print(success_member["Gender(clean)"].unique())

# print(success_member.shape)
# data[["성별", "Gender(clean)"]].head()

In [152]:
success_member["Gender(clean)"].value_counts()

male      14318
female    10038
Name: Gender(clean), dtype: int64

In [105]:
success_member["Gender(clean)"].value_counts()

male      79521
female    56778
Name: Gender(clean), dtype: int64

** 13. 12번과 비슷하게, 흡연이 체중 감량에 미치는 영향을 알고 싶습니다. 흡연/비흡연자의 목표 체중을 달성한 사람들의 총 인원을 찾아주세요. **

In [153]:
# Write your code here!
success_member.head()

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,...,Unnamed: 0,담당 선생님,수강일,회차,측정일,측정 체중,Current Weight(int),loss,Goal Weight(int),Gender(clean)
10,전재성,남성,010-7299-1288,39,76,73,171,2017년 12월 01일,2018년 03월 05일,아니오,...,10,황수정 선생님,2018년 02월 16일,11 회차,2017년 12월 28일,72.8,76,3.2,73,male
26,최수훈,Male,010-8356-8853,34,77 kg,76 kg,176,2016년 10월 16일,2017년 01월 05일,아니오,...,0,허채윤 선생님,2016년 10월 23일,1 회차,2016년 10월 20일,68.4,77,8.6,76,male
46,황승일,남성,01039863484,33세,76,74,181,2016년 04월 28일,2016년 04월 28일,아니오,...,1,강지효 선생님,2016년 05월 06일,2 회차,2016년 05월 03일,72.7,76,3.3,74,male
47,황승일,남성,01039863484,33세,76,74,181,2016년 04월 28일,2016년 04월 28일,아니오,...,2,강지효 선생님,2016년 05월 18일,3 회차,2016년 05월 06일,69.2,76,6.8,74,male
52,오동연,남,010-3177-9262,37,73,67,165,2016년 07월 22일,2016년 07월 22일,아니오,...,0,허준완 선생님,2016년 07월 26일,1 회차,2016년 07월 25일,66.8,73,6.2,67,male

In [154]:
success_member['흡연 여부'].value_counts()

아니오    19504
예       4852
Name: 흡연 여부, dtype: int64

** 14. 매 월(1월 ~ 12월) 가장 PT를 많이 한 담당 선생님 Top 10을 찾아주세요. **

In [16]:
# Write your code here!

** 15. 2016 ~ 2018년도 기록을 모두 합쳐서 가장 많은 PT를 받은 수강생 + 선생님 조합의 Top 10을 찾아주세요. **

In [17]:
# Write your code here!

## 과제(고급)

** 16. 사용자별 현재 체중과 더불어 체중과 1) 가장 최근에 측정한 체중, 2) 가장 낮았을 때의 체중을 찾아주세요. **

In [18]:
# Write your code here!

In [160]:
weight_history = pd.concat([pd.read_csv(f"../data/transaction/weight-history-{i}.csv") for i in range(1, 10)])
weight_history = weight_history[["이름", "전화번호", "측정일", "측정 체중"]]

weight_history["Id"] = range(weight_history.shape[0])
weight_history = weight_history.set_index("Id")

weight_history["식별 번호"] = weight_history["이름"] + "-" + weight_history["Wwjsghkqjsgh"]
weight_history["측정일"] = pd.to_datetime(weight_history)

print(weight_history.shape)
weight_history

(525379, 4)

         이름           전화번호            측정일  측정 체중
Id
0       양선희    01018822981  2016년 01월 03일   60.1
1       박채민  010-4493-1441  2016년 01월 03일   61.0
2       장영준  010-5728-5661  2016년 01월 03일   80.6
3       양재민  010-7365-6481  2016년 01월 03일   72.0
4       유성율  010-1146-4241  2016년 01월 04일   76.7
5       유선이    01074542421  2016년 01월 04일   55.9
6       강원영  010-1738-2221  2016년 01월 04일   81.6
7       김설연  010-7458-6651  2016년 01월 04일   54.5
8       신채안    01043954991  2016년 01월 04일   58.8
9       유채하  010-4828-8741  2016년 01월 05일   43.3
10      유시훈  010-5566-8911  2016년 01월 05일   78.5
11      백솔미  010-8614-5491  2016년 01월 05일   60.1
12      서세진  010-6543-4231  2016년 01월 05일   58.8
13      조지효    01089563341  2016년 01월 05일   60.6
14      한슬아    01038154631  2016년 01월 05일   43.4
15      김세준    01065849851  2016년 01월 05일   75.9
16      강슬영  010-7292-8161  2016년 01월 05일   54.8
17      홍채민    01018197781  2016년 01월 05일   78.9
18      정솔은    01034412311  2016년 01월 05일   61.8
19      이지애    01034376961  2016년 01월 06일   59.5
20      홍동해  010-7495-4481  2016년 01월 06일   80.4
21      조효찬  010-4254-2741  2016년 01월 06일   76.2
22      조세아  010-3392-7331  2016년 01월 06일   53.1
23      장영준  010-5728-5661  2016년 01월 06일   71.5
24      양선희    01018822981  2016년 01월 06일   60.0
25      박채민  010-4493-1441  2016년 01월 06일   59.7
26      강설민    01078781371  2016년 01월 06일   59.9
27      조지아  010-7443-4181  2016년 01월 06일   60.4
28      윤슬아  010-7598-1261  2016년 01월 06일   16.9
29      배선정  010-2766-6991  2016년 01월 06일   56.0
...     ...            ...            ...    ...
525349  서동환    01085683839  2018년 02월 09일   79.2
525350  안태윤  010-7715-2669  2018년 02월 10일   74.8
525351  송보성  010-5165-8639  2018년 02월 10일   72.4
525352  유승윤  010-8236-7829  2018년 02월 10일   55.9
525353  장서진    01038585299  2018년 02월 10일   75.1
525354  윤지혜  010-2173-2259  2018년 02월 11일   50.7
525355  오성희  010-2213-7769  2018년 02월 11일   55.5
525356  허서훈  010-6737-3649  2018년 02월 11일   72.5
525357  서동환    01085683839  2018년 02월 12일   79.7
525358  문유현    01042793229  2018년 02월 12일   76.2
525359  서성아    01026956329  2018년 02월 12일   53.6
525360  한태원  010-5827-7789  2018년 02월 12일   30.0
525361  오성희  010-2213-7769  2018년 02월 13일   55.6
525362  장서진    01038585299  2018년 02월 13일   75.4
525363  허서훈  010-6737-3649  2018년 02월 14일   71.4
525364  송보성  010-5165-8639  2018년 02월 14일   72.1
525365  윤지혜  010-2173-2259  2018년 02월 14일   50.6
525366  서동환    01085683839  2018년 02월 15일   81.0
525367  한태원  010-5827-7789  2018년 02월 15일   31.0
525368  오성희  010-2213-7769  2018년 02월 16일   53.2
525369  허서훈  010-6737-3649  2018년 02월 17일   72.8
525370  장서진    01038585299  2018년 02월 17일   74.0
525371  송보성  010-5165-8639  2018년 02월 17일   72.6
525372  서동환    01085683839  2018년 02월 18일   78.5
525373  장서진    01038585299  2018년 02월 19일   74.2
525374  한태원  010-5827-7789  2018년 02월 19일   30.3
525375  허서훈  010-6737-3649  2018년 02월 20일   71.2
525376  송보성  010-5165-8639  2018년 02월 20일   71.3
525377  서동환    01085683839  2018년 02월 21일   78.8
525378  송보성  010-5165-8639  2018년 02월 25일   71.5

[525379 rows x 4 columns]

** 17. 체중 기록에서 단순히 그 날 측정한 체중 뿐만 아니라, 바로 이전에 측정한 체중과의 차이를 찾아주세요. **

In [19]:
# Write your code here!

** 18. 체중 감량을 많이 한 사람들을 대상으로 환급 프로그램을 적용하고 싶습니다. **

현재 체중과 목표 체중과의 차이가 5kg 이상인 사람 중에서, 실제 목표를 달성한 사람만을 뽑아서 리스트업 해주세요.

In [20]:
# Write your code here!

** 19. 18번 데이터를 바탕으로, 사람들이 목표 체중을 달성하는데 평균적으로 며칠이 걸리는지를 계산해주세요. **

In [21]:
# Write your code here!

** 20. 사람들이 헬스장에 가입한 이후, 매 주 평균적으로 얼만큼 감량하는지를 1주부터 10주까지 평균을 내서 보여주세요. **

In [22]:
# Write your code here!