# 1. Pandas Basic

## 1-1. Data Structure
    - Data Type이 들어가있는 공간이 Data Structure

### 1-1-1. Series
- list와 비슷하나 pandas의 부가기능을 사용할 수 있다.
- vector와 유사하다.

In [1]:
import pandas as pd

In [2]:
odd = pd.Series([1, 3, 5, 7, 9])
odd

0    1
1    3
2    5
3    7
4    9
dtype: int64

### 1-1-2. DataFrame
- matrix와 유사하다
- Series를 여러 개 묶은 것

In [3]:
numbers = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

numbers = pd.DataFrame(numbers)
numbers

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
print(type(numbers))
print(type(numbers[0]))
print(type(numbers.loc[0]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

## 1-2. Data Type
- int : 정수, 32/64(default)
- float : 실수, 32/64(default)
- object : 문자열
    - data가 너무 커서 머신에서 수용할 수 없을 경우
        - 64 bit -> 32 bit로 세팅을 바꿔준다.
        - 허나 수용할 수 있는 용량이 반으로 줄어드는 단점

In [5]:
data = pd.Series([1, 3, 5, 7, 9])
data.dtypes

dtype('int64')

In [6]:
data = pd.Series([1, 3, 5, 7.0, 9])
data.dtypes

dtype('float64')

In [7]:
# O = Object
data = pd.Series([1, 3, 5, 7.0, 9, 'hello'])
data.dtypes

dtype('O')

In [8]:
import numpy as np

#### nan
- nan은 실수형에 속한다.
    - 빈 값은 nan이 아닌 것 중에 보통 0이나 -1로 대체 하는 경우가 종종 있는데
    - 추후에 문제의 소지가 있을 수 있다.
- 비어있으면 까다로워도 nan을 넣어줘야한다.

In [9]:
data = pd.Series([1, np.nan, 5, 7, 9])
data.dtypes

dtype('float64')

# 2. DataFrame Basic

## 2-1. Create DateFrame

- Method 1
    - 실수가 많이 일어날 수 있는 생성 방식

In [10]:
# 결제 데이터
transaction= [
    ['2017-01-01', 500, 'Confirmed'],
    ['2017-01-03', 700, 'Confirmed'],
    ['2017-01-11', 200, 'Canceled'],
]

pd.DataFrame(transaction, columns=['date', 'price', 'state'])

         date  price      state
0  2017-01-01    500  Confirmed
1  2017-01-03    700  Confirmed
2  2017-01-11    200   Canceled

- Method 2
    - dict를 활용한 방식
    - 1번 보다 훨씬 더 안정적인 방식

In [11]:
transaction = {
    'date' : ['2017-01-01', '2017-01-03', '2017-01-10'],
    'price' : [500, 700, 200],
    'state' : ['Confirmed', 'Confirmed', 'Canceled']
}

pd.DataFrame(transaction)

         date  price      state
0  2017-01-01    500  Confirmed
1  2017-01-03    700  Confirmed
2  2017-01-10    200   Canceled

- Method 3
> - list를 만들고 그 안에 dict를 넣음
> - 실수할 여지가 있다
> - 그래서 2번을 추천

In [12]:
transaction = [
    {'date' : '2017-01-01', 'price': 500, 'state' : 'Confirmed'},
    {'date' : '2017-01-03', 'price': 700, 'state' : 'Confirmed'},
    {'date' : '2017-01-10', 'price': 200, 'state' : 'Canceled'},
]

pd.DataFrame(transaction)

         date  price      state
0  2017-01-01    500  Confirmed
1  2017-01-03    700  Confirmed
2  2017-01-10    200   Canceled

In [13]:
## 실수 케이스
transaction = [
    {'date' : '2017-01-01', 'price': 500, 'state' : 'Confirmed'},
    {'date' : '2017-01-03', 'prlce': 700, 'state' : 'Confirmed'}, ## 컬럼명을 잘못 쓸 경우 문제가 발생
    {'date' : '2017-01-10', 'price': 200, 'state' : 'Canceled'},
]

pd.DataFrame(transaction)

         date  price  prlce      state
0  2017-01-01  500.0    NaN  Confirmed
1  2017-01-03    NaN  700.0  Confirmed
2  2017-01-10  200.0    NaN   Canceled

## 2-2. DataFrame Basic Functions
### 2-2-1. Index

In [14]:
transaction = [
    {'date' : '2017-01-01', 'price': 100, 'state' : 'Confirmed'},
    {'date' : '2017-01-03', 'price': 300, 'state' : 'Confirmed'},
    {'date' : '2017-01-10', 'price': 500, 'state' : 'Canceled'},
    {'date' : '2017-01-01', 'price': 700, 'state' : 'Confirmed'},
    {'date' : '2017-01-03', 'price': 900, 'state' : 'Confirmed'},
    {'date' : '2017-01-10', 'price': 1100, 'state' : 'Canceled'},
    {'date' : '2017-01-10', 'price': 1100, 'state' : np.nan},
]

names = ["Kang", "Kim", "Jang", "lee", "ko", "choi", "ho"]
transaction = pd.DataFrame(transaction, index=names)
transaction

            date  price      state
Kang  2017-01-01    100  Confirmed
Kim   2017-01-03    300  Confirmed
Jang  2017-01-10    500   Canceled
lee   2017-01-01    700  Confirmed
ko    2017-01-03    900  Confirmed
choi  2017-01-10   1100   Canceled
ho    2017-01-10   1100        NaN

In [15]:
print(transaction.columns)
print(transaction.index)
print(transaction.values)
print(type(transaction.values))

Index(['date', 'price', 'state'], dtype='object')
Index(['Kang', 'Kim', 'Jang', 'lee', 'ko', 'choi', 'ho'], dtype='object')
[['2017-01-01' 100 'Confirmed']
 ['2017-01-03' 300 'Confirmed']
 ['2017-01-10' 500 'Canceled']
 ['2017-01-01' 700 'Confirmed']
 ['2017-01-03' 900 'Confirmed']
 ['2017-01-10' 1100 'Canceled']
 ['2017-01-10' 1100 nan]]
<class 'numpy.ndarray'>

#### 데이터 넘기는 속도가 느려진다면
- 데이터를 넘겨줄 때, values를 써서 numpy로 넘겨주면 된다.

### 2-2-2. Change Columns Name

In [16]:
transaction.columns = ["date", "amount", "result"]
transaction

            date  amount     result
Kang  2017-01-01     100  Confirmed
Kim   2017-01-03     300  Confirmed
Jang  2017-01-10     500   Canceled
lee   2017-01-01     700  Confirmed
ko    2017-01-03     900  Confirmed
choi  2017-01-10    1100   Canceled
ho    2017-01-10    1100        NaN

### 2-2-3. Elementary Operation

In [17]:
print(transaction["amount"].mean())
print(transaction["amount"].min())
print(transaction["amount"].max())

671.4285714285714
100
1100

In [18]:
transaction["result"]

Kang    Confirmed
Kim     Confirmed
Jang     Canceled
lee     Confirmed
ko      Confirmed
choi     Canceled
ho            NaN
Name: result, dtype: object

In [19]:
transaction["result"].value_counts()

Confirmed    4
Canceled     2
Name: result, dtype: int64

#### 기본적으로 집계함수는 Nan을 제외하고 연산
- 이건 Python, Sql, R 동일함

### 2-2-4. Matrix Search (행렬 검색)
- column 가져오고 싶으면 []
- row 가져오고 싶으면 .loc

### 2-2-4-1. column

In [20]:
print(type(transaction["date"]))
transaction["date"]

<class 'pandas.core.series.Series'>

Kang    2017-01-01
Kim     2017-01-03
Jang    2017-01-10
lee     2017-01-01
ko      2017-01-03
choi    2017-01-10
ho      2017-01-10
Name: date, dtype: object

In [21]:
print(type(transaction[["date", "amount"]]))
transaction[["date", "amount"]]

<class 'pandas.core.frame.DataFrame'>

            date  amount
Kang  2017-01-01     100
Kim   2017-01-03     300
Jang  2017-01-10     500
lee   2017-01-01     700
ko    2017-01-03     900
choi  2017-01-10    1100
ho    2017-01-10    1100

In [22]:
columns = ["date", "amount"]

print(type(transaction[columns]))
transaction[columns]

<class 'pandas.core.frame.DataFrame'>

            date  amount
Kang  2017-01-01     100
Kim   2017-01-03     300
Jang  2017-01-10     500
lee   2017-01-01     700
ko    2017-01-03     900
choi  2017-01-10    1100
ho    2017-01-10    1100

### 2-2-4-2. row

In [23]:
# loc == locate
print(type(transaction.loc["Kang"]))
transaction.loc["Kang"]

<class 'pandas.core.series.Series'>

date      2017-01-01
amount           100
result     Confirmed
Name: Kang, dtype: object

In [24]:
print(type(transaction.loc[["Kang", "Kim", "Jang"]]))
transaction.loc[["Kang", "Kim", "Jang"]]

<class 'pandas.core.frame.DataFrame'>

            date  amount     result
Kang  2017-01-01     100  Confirmed
Kim   2017-01-03     300  Confirmed
Jang  2017-01-10     500   Canceled

In [25]:
names = ["Kang", "Kim", "Jang"]
print(type(transaction.loc[names]))
transaction.loc[names]

<class 'pandas.core.frame.DataFrame'>

            date  amount     result
Kang  2017-01-01     100  Confirmed
Kim   2017-01-03     300  Confirmed
Jang  2017-01-10     500   Canceled

#### row - column
- row-column에 접근할 때는
- loc을 활용하기

### 2-2-4-3. Bad Practice

In [26]:
# action(대괄호)가 2번 실행되어서 느리다.
%timeit transaction["date"]["Kang"]

10 µs ± 68.9 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

### 2-2-4-4. Good Practice 1, 2 (loc, at)

In [27]:
%timeit transaction.loc["Kang", "date"]

7.71 µs ± 47.2 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [28]:
%timeit transaction.at["Kang", "date"]

4.97 µs ± 153 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

###  전체 dataframe에서 하나만 가져올 경우에는 at을 쓸 수 있지만, 여러 개를 가져오는 경우가 많기 때문에 loc을 쓴다.

In [29]:
transaction.loc[["Kang", "Kim", "Jang"], "date"]

Kang    2017-01-01
Kim     2017-01-03
Jang    2017-01-10
Name: date, dtype: object

### 2-2-5. Indexing

In [30]:
transaction["date"] == "2017-01-01"

Kang     True
Kim     False
Jang    False
lee      True
ko      False
choi    False
ho      False
Name: date, dtype: bool

In [31]:
transaction[transaction["date"] == "2017-01-01"]

            date  amount     result
Kang  2017-01-01     100  Confirmed
lee   2017-01-01     700  Confirmed

In [32]:
transaction["amount"] < 600

Kang     True
Kim      True
Jang     True
lee     False
ko      False
choi    False
ho      False
Name: amount, dtype: bool

In [33]:
transaction[transaction["amount"] < 600]

            date  amount     result
Kang  2017-01-01     100  Confirmed
Kim   2017-01-03     300  Confirmed
Jang  2017-01-10     500   Canceled

### 2-2-6. Example Case -> 'CRM'
- amount가 500 이상일 경우에 CRM을 하고 싶다면?
    - Canceled과 Nan은 제외해야하는데 아래의 노하우 참고

In [34]:
transaction[transaction["amount"] > 500]

            date  amount     result
lee   2017-01-01     700  Confirmed
ko    2017-01-03     900  Confirmed
choi  2017-01-10    1100   Canceled
ho    2017-01-10    1100        NaN

In [35]:
confirmed = transaction["result"] == "Confirmed"
high_paid = transaction["amount"] >= 500

# & (and, shift + 7)
transaction[confirmed & high_paid]

           date  amount     result
lee  2017-01-01     700  Confirmed
ko   2017-01-03     900  Confirmed

### 2-2-7. Add & Reshape Column

In [36]:
transaction["result"]

Kang    Confirmed
Kim     Confirmed
Jang     Canceled
lee     Confirmed
ko      Confirmed
choi     Canceled
ho            NaN
Name: result, dtype: object

In [37]:
transaction["card-holder"] = "KB Card"
transaction

            date  amount     result card-holder
Kang  2017-01-01     100  Confirmed     KB Card
Kim   2017-01-03     300  Confirmed     KB Card
Jang  2017-01-10     500   Canceled     KB Card
lee   2017-01-01     700  Confirmed     KB Card
ko    2017-01-03     900  Confirmed     KB Card
choi  2017-01-10    1100   Canceled     KB Card
ho    2017-01-10    1100        NaN     KB Card

In [38]:
transaction["order"] = [1, 2, 3, 4, 5, 6, 7]
transaction

            date  amount     result card-holder  order
Kang  2017-01-01     100  Confirmed     KB Card      1
Kim   2017-01-03     300  Confirmed     KB Card      2
Jang  2017-01-10     500   Canceled     KB Card      3
lee   2017-01-01     700  Confirmed     KB Card      4
ko    2017-01-03     900  Confirmed     KB Card      5
choi  2017-01-10    1100   Canceled     KB Card      6
ho    2017-01-10    1100        NaN     KB Card      7

In [39]:
transaction.loc[transaction["amount"] >= 500, "VIP"] = True
transaction.loc[transaction["amount"] < 500, "VIP"] = False

transaction

            date  amount     result card-holder  order    VIP
Kang  2017-01-01     100  Confirmed     KB Card      1  False
Kim   2017-01-03     300  Confirmed     KB Card      2  False
Jang  2017-01-10     500   Canceled     KB Card      3   True
lee   2017-01-01     700  Confirmed     KB Card      4   True
ko    2017-01-03     900  Confirmed     KB Card      5   True
choi  2017-01-10    1100   Canceled     KB Card      6   True
ho    2017-01-10    1100        NaN     KB Card      7   True

In [40]:
transaction.loc[(transaction["result"] == "Confirmed") & (transaction["amount"] >= 500), "VIP"] = True
transaction.loc[(transaction["result"] != "Confirmed") | (transaction["amount"] < 500), "VIP"] = False

transaction

            date  amount     result card-holder  order    VIP
Kang  2017-01-01     100  Confirmed     KB Card      1  False
Kim   2017-01-03     300  Confirmed     KB Card      2  False
Jang  2017-01-10     500   Canceled     KB Card      3  False
lee   2017-01-01     700  Confirmed     KB Card      4   True
ko    2017-01-03     900  Confirmed     KB Card      5   True
choi  2017-01-10    1100   Canceled     KB Card      6  False
ho    2017-01-10    1100        NaN     KB Card      7  False

### 2-2-8. Apply
- pandas의 반복문
- 장점 : 함수를 만들어서, 함수 안에서 파이썬으로 쓸 수 있다.
> - 하다가 안 되는 문제가 발생할 때, apply로 처리할 수 있다.

In [41]:
transaction["amount"]

Kang     100
Kim      300
Jang     500
lee      700
ko       900
choi    1100
ho      1100
Name: amount, dtype: int64

In [42]:
def high_paid(amount):
#     return amount
    return amount >= 500

transaction["amount"].apply(high_paid)

Kang    False
Kim     False
Jang     True
lee      True
ko       True
choi     True
ho       True
Name: amount, dtype: bool