# Text Analysis
- [2번째 시간 solution](https://goo.gl/7f2Ybo)
- [text-analysis](https://goo.gl/4aXT6J)
- [3번째 실습](https://goo.gl/dcsmwH)

In [2]:
import pandas as pd

## Load Dataset

In [3]:
pd.read_csv('./data/review.csv')

   사용자                                                 리뷰   평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...   9점
2  강석민  한국인 직원이 있어서 채크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...  10점
3  최진강                   호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.   8점

In [15]:
pd.read_csv('./data/car-crash.csv', engine='python') # 한글 폴더일 때, 속도가 느려져서 기본적으로 쓰지 않음. 한글 폴더일 경우 사용

,�߻��⵵,����,�հ�,�Ϲݱ���,���浵,Ư�������õ�,�õ�,����.1,���ӱ���,��Ÿ
0,2013,�߻��Ǽ�,"215,354","17,450","18,655","87,139","65,877","6,865","3,231","16,137"
1,2013,������(%),100,8.1,8.7,40.5,30.6,3.2,1.5,7.5
2,2013,������,"-8,302","-2,185","-1,189","-7,954","-2,194",-244,-319,"5,783"
3,2013,������,-3.7,-11.1,-6,-8.4,-3.2,-3.4,-9,55.9
4,2012,�߻��Ǽ�,"223,656","19,635","19,844","95,093","68,071","7,109","3,550","10,354"
5,2012,������(%),100,8.8,8.9,42.5,30.4,3.2,1.6,4.6
6,2012,������,-,-,-,-,-,-,-,-
7,2012,������,-,-,-,-,-,-,-,-

In [16]:
# utf-8, euc-kr, cp949
pd.read_csv('./data/car-crash.csv', encoding='euc-kr')

   발생년도      구분       합계    일반국도     지방도  특별광역시도      시도     군도   고속국도      기타
0  2013    발생건수  215,354  17,450  18,655  87,139  65,877  6,865  3,231  16,137
1  2013  구성비(%)      100     8.1     8.7    40.5    30.6    3.2    1.5     7.5
2  2013     증감수   -8,302  -2,185  -1,189  -7,954  -2,194   -244   -319   5,783
3  2013     증감률     -3.7   -11.1      -6    -8.4    -3.2   -3.4     -9    55.9
4  2012    발생건수  223,656  19,635  19,844  95,093  68,071  7,109  3,550  10,354
5  2012  구성비(%)      100     8.8     8.9    42.5    30.4    3.2    1.6     4.6
6  2012     증감수        -       -       -       -       -      -      -       -
7  2012     증감률        -       -       -       -       -      -      -       -

### 텍스트 데이터 다루기

In [17]:
review = pd.read_csv('./data/review.csv')
review

   사용자                                                 리뷰   평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...   9점
2  강석민  한국인 직원이 있어서 채크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...  10점
3  최진강                   호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.   8점

In [22]:
review["리뷰"]

0                     위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.
1    위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...
2    한국인 직원이 있어서 채크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...
3                     호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.
Name: 리뷰, dtype: object

In [21]:
review["리뷰"].str.len()

0     32
1     60
2    134
3     32
Name: 리뷰, dtype: int64

In [23]:
review["리뷰"].str.upper()

0                     위치나 시설, 직원태도등 최근 방문한 호텔중 BEST였음.
1    위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...
2    한국인 직원이 있어서 채크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...
3                     호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.
Name: 리뷰, dtype: object

In [24]:
review["리뷰"].str.lower()

0                     위치나 시설, 직원태도등 최근 방문한 호텔중 best였음.
1    위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...
2    한국인 직원이 있어서 채크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...
3                     호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.
Name: 리뷰, dtype: object

In [26]:
review[review["사용자"] == "김경이"]

   사용자                                리뷰  평점
0  김경이  위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.  8점

#### 찾으려는 유저가 여러 명일 경우

In [29]:
user_list = ["김경이", "박진형"]
review[review["사용자"].isin(user_list)]

   사용자                                                 리뷰  평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.  8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...  9점

#### 긴 리뷰 중에 특정 문장이나 단어를 포함하는지 찾는 경우

In [31]:
review[review['리뷰'].str.contains("위치")]

   사용자                                                 리뷰  평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.  8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...  9점

In [33]:
review["리뷰"]

0                     위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.
1    위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...
2    한국인 직원이 있어서 채크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...
3                     호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.
Name: 리뷰, dtype: object

In [34]:
review["리뷰"].str.replace("채크인", "체크인")

0                     위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.
1    위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...
2    한국인 직원이 있어서 체크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...
3                     호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.
Name: 리뷰, dtype: object

In [36]:
review[review["리뷰"].str.contains("위치|시설")]

   사용자                                                 리뷰   평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...   9점
2  강석민  한국인 직원이 있어서 채크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...  10점

In [37]:
review[review["리뷰"].str.contains("(?=.*위치)|(?=.*시설)")]

   사용자                                                 리뷰   평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...   9점
2  강석민  한국인 직원이 있어서 채크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...  10점

In [40]:
review["리뷰"].str.split()

0             [위치나, 시설,, 직원태도등, 최근, 방문한, 호텔중, Best였음.]
1    [위치도, 좋고, 침대가, 편안해서, 숙면을, 취한점이, 좋았습니다., 직원들도, ...
2    [한국인, 직원이, 있어서, 채크인/아웃, 할때, 많이, 편했고,, 음식점, 추천과...
3             [호텔이, 너무, 좋아서, 밖으로, 못나감..ㅠㅠ, 정말, 최고입니다.]
Name: 리뷰, dtype: object

In [42]:
review["리뷰"].str.split(',')

0                  [위치나 시설,  직원태도등 최근 방문한 호텔중 Best였음.]
1    [위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 ...
2    [한국인 직원이 있어서 채크인/아웃 할때 많이 편했고,  음식점 추천과 예약 등 세...
3                   [호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.]
Name: 리뷰, dtype: object

In [43]:
raw_review = review.copy()
raw_review

   사용자                                                 리뷰   평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...   9점
2  강석민  한국인 직원이 있어서 채크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...  10점
3  최진강                   호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.   8점

#### 팁
- 컬럼명에 혹시라도 있을 지 모를 띄어쓰기 제거

In [45]:
raw_review = raw_review.columns.str.strip()
raw_review

Index(['사용자', '리뷰', '평점'], dtype='object')

#### 특정 문장에서 특정 단어가 몇 번 발생하는지 알고 싶거나
#### 특정 문장에서 특정 단어가 나올 확률을 자동적으로 계산하고 싶다면

In [49]:
review_tokens = review["리뷰"].str.get_dummies(sep=" ")
review_tokens

,Best였음.,깨끗하고,너무,등,따로,"룸서비스,조식",만족한,많이,매우,모두,...,친절해서,침대가,편안해서,"편했고,",포함되어있지,한국인,할때,현대적입니다.,호텔이,호텔중
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,1,0,1,1,...,1,1,1,0,0,0,0,0,0,0
2,0,1,0,1,1,1,0,1,0,0,...,0,0,0,1,1,1,1,1,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### 파일 저장하기

In [51]:
%%time

review_large = pd.concat([review.copy() for _ in range(10000)])
print(review_large.shape)
review_large.head()

(40000, 3)
CPU times: user 1.31 s, sys: 75.6 ms, total: 1.39 s
Wall time: 1.49 s

#### 1) CSV
- 작은 데이터 저장에 용이
- 데이터가 어마어마하게 큰 경우는 추천 X
    - 그런 경우 1) pickle

In [52]:
%time review_large.to_csv("review-large.csv", index=False)

CPU times: user 110 ms, sys: 9.24 ms, total: 120 ms
Wall time: 121 ms

In [54]:
%time review_large = pd.read_csv("review-large.csv")
review_large.head(1)

CPU times: user 52 ms, sys: 12.3 ms, total: 64.2 ms
Wall time: 65.6 ms

   사용자                                리뷰  평점
0  김경이  위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.  8점

### 2) pickle
- 장점
    - python에서 구현한 어떤 데이터도 저장할 수 있음
    - csv보다 8~10배 속도가 빠름
    - 용량이 커지면 csv보다 pickle을 활용

In [55]:
import pickle

In [56]:
%time pickle.dump(review_large, open("review_large.p", "wb"))

CPU times: user 5.15 ms, sys: 3.3 ms, total: 8.45 ms
Wall time: 10.3 ms

In [57]:
%time review_large = pickle.load(open("review_large.p", "rb"))
review_large.head(1)

CPU times: user 5.68 ms, sys: 3.74 ms, total: 9.42 ms
Wall time: 13.7 ms

   사용자                                리뷰  평점
0  김경이  위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.  8점

#### check file size

In [58]:
!stat -f "%z" 'review-large.csv'

7070024

In [60]:
!stat -f "%z" 'review_large.p'

241761

### 3) joblib
- 장점
    - pickle에 비해 속도가 느리지만, 50배 정도 용량이 작다.
    - pickle로 저장하기에도 용량이 너무 크다면 joblib을 쓰는 게 낫다.

In [61]:
!pip3 install joblib

Collecting joblib
  Downloading https://files.pythonhosted.org/packages/4f/51/870b2ec270fc29c5d89f85353da420606a9cb39fba4747127e7c7d7eb25d/joblib-0.11-py2.py3-none-any.whl (176kB)
    100% |████████████████████████████████| 184kB 1.6MB/s ta 0:00:01
Installing collected packages: joblib
Successfully installed joblib-0.11

In [64]:
import joblib
# from sklearn.exceptions import joblib

%time joblib.dump(review_large, 'review_large.pkl', compress=True)

CPU times: user 11 ms, sys: 1.74 ms, total: 12.8 ms
Wall time: 11.6 ms

['review_large.pkl']

In [65]:
%time review_large = joblib.load('review_large.pkl')
review_large.head(1)

CPU times: user 10.3 ms, sys: 5.04 ms, total: 15.3 ms
Wall time: 13.8 ms

   사용자                                리뷰  평점
0  김경이  위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.  8점

In [66]:
!stat -f "%z" 'review_large.pkl'

5557