# [dplyr Excercise](https://www.r-exercises.com/2017/10/19/dplyr-basic-functions-exercises-solutions/)

### Exercise 1
- Select the first three columns of the iris dataset using their column names. HINT: Use select().

In [11]:
iris %>% select(names(iris[1:3])) %>% head

  Sepal.Length Sepal.Width Petal.Length
1 5.1          3.5         1.4
2 4.9          3.0         1.4
3 4.7          3.2         1.3
4 4.6          3.1         1.5
5 5.0          3.6         1.4
6 5.4          3.9         1.7

### Exercise 2
- Select all the columns of the iris dataset except “Petal Width”. HINT: Use “-“.

In [15]:
names(iris)
iris %>% select(-Petal.Length, -Petal.Width) %>% head

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

  Sepal.Length Sepal.Width Species
1 5.1          3.5         setosa
2 4.9          3.0         setosa
3 4.7          3.2         setosa
4 4.6          3.1         setosa
5 5.0          3.6         setosa
6 5.4          3.9         setosa

### Exercise 3
- Select all columns of the iris dataset that start with the character string “P”.

In [18]:
iris %>% select(starts_with("P")) %>% head

  Petal.Length Petal.Width
1 1.4          0.2
2 1.4          0.2
3 1.3          0.2
4 1.5          0.2
5 1.4          0.2
6 1.7          0.4

### Exercise 4
- Filter the rows of the iris dataset for Sepal.Length >= 4.6 and Petal.Width >= 0.5.

In [24]:
iris %>% filter(Sepal.Length >= 4.6 & Petal.Width >= 0.5) %>% head

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.3         1.7          0.5         setosa
2 5.0          3.5         1.6          0.6         setosa
3 7.0          3.2         4.7          1.4         versicolor
4 6.4          3.2         4.5          1.5         versicolor
5 6.9          3.1         4.9          1.5         versicolor
6 5.5          2.3         4.0          1.3         versicolor

### Exercise 5
- Pipe the iris data frame to the function that will select two columns (Sepal.Width and Sepal.Length). HINT: Use pipe operator.

In [25]:
iris %>% select(Sepal.Width, Sepal.Length) %>% head

  Sepal.Width Sepal.Length
1 3.5         5.1
2 3.0         4.9
3 3.2         4.7
4 3.1         4.6
5 3.6         5.0
6 3.9         5.4

### Exercise 6
- Arrange rows by a particular column, such as the Sepal.Width. HINT: Use arrange().

In [26]:
iris %>% arrange(Sepal.Width) %>% head

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.0          2.0         3.5          1.0         versicolor
2 6.0          2.2         4.0          1.0         versicolor
3 6.2          2.2         4.5          1.5         versicolor
4 6.0          2.2         5.0          1.5         virginica
5 4.5          2.3         1.3          0.3         setosa
6 5.5          2.3         4.0          1.3         versicolor

### Exercise 7
- Select three columns from iris, arrange the rows by Sepal.Length, then arrange the rows by Sepal.Width.

In [29]:
iris %>%
    select(names(iris)[1:3]) %>%
    arrange(Sepal.Length, Sepal.Width) %>%
    head

  Sepal.Length Sepal.Width Petal.Length
1 4.3          3.0         1.1
2 4.4          2.9         1.4
3 4.4          3.0         1.3
4 4.4          3.2         1.3
5 4.5          2.3         1.3
6 4.6          3.1         1.5

### Exercise 8
- Create a new column called proportion, which is the ratio of Sepal.Length to Sepal.Width. HINT: Use mutate().

In [37]:
iris %>%
    mutate(proportion = Sepal.Length / Sepal.Width) %>%
    mutate(avg_slength = mean(Sepal.Length)) %>%
    head

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species proportion
1 5.1          3.5         1.4          0.2         setosa  1.457143
2 4.9          3.0         1.4          0.2         setosa  1.633333
3 4.7          3.2         1.3          0.2         setosa  1.468750
4 4.6          3.1         1.5          0.2         setosa  1.483871
5 5.0          3.6         1.4          0.2         setosa  1.388889
6 5.4          3.9         1.7          0.4         setosa  1.384615
  avg_slength
1 5.843333
2 5.843333
3 5.843333
4 5.843333
5 5.843333
6 5.843333

### Exercise 9
- Compute the average number of Sepal.Length, apply the mean() function to the column Sepal.Length, and call the summary value “avg_slength”. HINT: Use summarize().

In [33]:
iris %>%
    summarise(avg_slength = mean(Sepal.Length)) %>%
    head

  avg_slength
1 5.843333

### Exercise 10
- Split the iris data frame by the Sepal.Length, then ask for the same summary statistics as above. HINT: Use group_by()

In [39]:
iris %>%
    group_by(Sepal.Length) %>%
    summarise(avg_slength = mean(Sepal.Length),
              min_slength = min(Sepal.Length),
              max_slength = max(Sepal.Length),
              total = n()) %>%
head

  Sepal.Length avg_slength min_slength max_slength total
1 4.3          4.3         4.3         4.3         1
2 4.4          4.4         4.4         4.4         3
3 4.5          4.5         4.5         4.5         1
4 4.6          4.6         4.6         4.6         4
5 4.7          4.7         4.7         4.7         2
6 4.8          4.8         4.8         4.8         5